* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}
.apple {
  height: 100vh;
  width: 100vw;
}
header {
  background-color: rosybrown;
  position: sticky;
  top: 0px;
}
header img {
  height: 60px;
  width: 60px;
  margin-left: 1%;
}
.imgclass {
  /* height: 160px;
  width: 160px; */
  /* margin-left: 6%;
  margin-right: 5%; */

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imgclass img {
  height: 160px;
  width: 160px;
  border: 1px solid transparent;
  border-radius: 15%;
}
div.imgclass {
  padding: 4%;
}
footer a img {
  height: 20px;
  width: 22px;
}
footer {
  background-color: rosybrown;
}
.img-div form {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header a {
  float: right;
  padding-right: 41px;
  padding-top: 21px;
  text-decoration: none;
  color: black;
} */
/* .socialmedia {
  float: right;
} */
/* .socialmedia a img {
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
} */
.room {
  width: 300px;
  margin: 0px auto;
  font-size: 10px;
}
footer {
  padding: 10px;
  margin-bottom: 0px;
  position: sticky;
  bottom: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  text-decoration: none;
  color: black;
  margin-top: 1px;
  margin-left: 2%;
}
form input {
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 40%;
  outline: none;
}
.viewmore {
  display: block;
  width: 100px;
  margin: 40px auto;
  text-decoration: none;
  color: black;
}
.socialmedia {
  margin-right: 2%;
}
header {
  display: flex;
  justify-content: space-between;
}
header a {
  margin-right: 2%;
  padding-top: 21px;
}
.wholecontainer {
  display: flex;
  flex-direction: column;
}
#img {
  box-shadow: 10px 10px 10px grey;
}
